# Hello Minecraft! Launcher 更新分发

[![](https://data.jsdelivr.com/v1/package/npm/hmcl-update/badge)](https://www.jsdelivr.com/package/npm/hmcl-update)

最新版本：[v@@dev_version@@](https://www.npmjs.com/package/hmcl-update/v/@@dev_version@@)

用于将 [Hello Minecraft! Launcher](https://github.com/huanghongxun/HMCL) 推送至 NPM 仓库中，并获取 CDN 下载链接。

下载 HMCL 最新版本（tgz 格式，包括 exe 和 jar）：

* [NPM 官方源](https://www.npmjs.com/)：[hmcl-update-@@dev_version@@.tgz](https://registry.npmjs.org/hmcl-update/-/hmcl-update-@@dev_version@@.tgz)
* [淘宝 NPM 镜像](https://npmmirror.com/)：[hmcl-update-@@dev_version@@.tgz](https://registry.npmjs.org/hmcl-update/-/hmcl-update-@@dev_version@@.tgz)

**注意，淘宝镜像在国内速度更快，但更新比官方慢，如果无法下载请稍等，镜像源需要一段时间来同步。**

更新文件链接（因为 jsDelivr 禁止下载扩展名为 jar 的文件，这里使用 zip 扩展名作为替代）：

* `.jar`: https://cdn.jsdelivr.net/npm/hmcl-update@@@dev_version@@/HMCL-@@dev_version@@.zip
* `.pack`: https://cdn.jsdelivr.net/npm/hmcl-update@@@dev_version@@/HMCL-@@dev_version@@.pack
* `.pack.gz`: https://cdn.jsdelivr.net/npm/hmcl-update@@@dev_version@@/HMCL-@@dev_version@@.pack.gz
* `.pack.xz`: https://cdn.jsdelivr.net/npm/hmcl-update@@@dev_version@@/HMCL-@@dev_version@@.pack.xz

文件 SHA1 校验码可前往 [HMCL CI](https://ci.huangyuhui.net/job/HMCL/) 自行查询校验。