name: Update README
on:
  push:
    branches:
      - main
    paths:
      - 'scripts/ReadMeTemplate.java'
  workflow_dispatch:
  schedule:
    - cron: '15 * * * *'

jobs:
  generate-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Generate README
        run: ./scripts/generate-readme.sh
      - name: Commit changes
        if: ${{ env.COMMIT_CHANGE == 'true' }}
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add -A
          git commit -m "[BOT] Update README.md"
      - name: Publish changes
        if: ${{ env.COMMIT_CHANGE == 'true' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup SSH
        if: ${{ env.COMMIT_CHANGE == 'true' }}
        run: |
          mkdir -p ~/gitee/.ssh
          echo "$INPUT_SSH_PRIVATE_KEY" > ~/gitee/.ssh/id_rsa
          chmod 600 ~/gitee/.ssh/id_rsa
        env:
          INPUT_SSH_PRIVATE_KEY:
            ${{ secrets.GITEE_SYNC_BOT_PRIVATE_KEY }}
      - name: Sync to Gitee
        if: ${{ env.COMMIT_CHANGE == 'true' }}
        run: |
          export GIT_SSH_COMMAND="ssh -v -i ~/gitee/.ssh/id_rsa -o StrictHostKeyChecking=no -F /dev/null"
          git remote add mirror "$INPUT_TARGET_REPO_URL"
          git push --tags --force --prune mirror "refs/remotes/origin/*:refs/heads/*"
        env:
          INPUT_TARGET_REPO_URL:
            git@gitee.com:Glavo/HMCL-Update.git
